* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(221deg, 100%, 96%);
}

.card {
  background: hsl(0deg, 0%, 100%);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 720px;
}
.card-container {
  display: flex;
  justify-content: space-between;
}

.section1 {
  width: 370px;
  background: linear-gradient(hsl(252deg, 100%, 67%), hsl(241deg, 81%, 54%));
  text-align: center;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.section1-header {
  color: hsl(241deg, 100%, 89%);
  font-size: 23px;
  padding: 1rem 0 1rem 0;
  font-weight: 600;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(hsl(256deg, 72%, 46%), hsla(241deg, 72%, 46%, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(0deg, 0%, 100%);
}
.circle p {
  font-size: 70px;
  font-weight: 700;
}
.circle span {
  color: hsl(241deg, 100%, 89%);
  font-size: 18px;
  opacity: 0.5;
}

.info h1 {
  color: hsl(0deg, 0%, 100%);
  padding-top: 0.5rem;
  font-size: 32px;
  font-weight: 500;
}
.info p {
  color: hsl(241deg, 100%, 89%);
  padding: 1.5rem;
  font-size: 18px;
  font-weight: 400;
}

.section2 {
  width: 370px;
  background: hsl(0deg, 0%, 100%);
  text-align: center;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section2 h1 {
  color: hsl(224deg, 30%, 27%);
  text-align: left;
  padding-left: 1rem;
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  margin: 1rem;
  font-size: 18px;
}
.row span {
  color: hsl(224deg, 30%, 27%);
  opacity: 0.5;
  font-weight: 600;
}
.row strong {
  color: hsl(224deg, 30%, 27%);
}
.row img {
  align-items: center;
  padding-right: 0.5rem;
}

.reaction {
  background: hsla(0deg, 100%, 67%, 0.1);
  padding: 1rem;
}
.reaction b {
  color: hsl(0deg, 100%, 67%);
  font-weight: 500;
}

.memory {
  background: hsla(39deg, 100%, 56%, 0.1);
  padding: 1rem;
}
.memory b {
  color: hsl(39deg, 100%, 56%);
  font-weight: 500;
}

.verbal {
  background: hsla(166deg, 100%, 37%, 0.1);
  padding: 1rem;
}
.verbal b {
  color: hsl(166deg, 100%, 37%);
  font-weight: 500;
}

.visual {
  background: hsla(234deg, 85%, 45%, 0.1);
  padding: 1rem;
}
.visual b {
  color: hsl(234deg, 85%, 45%);
  font-weight: 500;
}

.btn {
  background: hsl(224deg, 30%, 27%);
  border: none;
  text-decoration: none;
  width: 90%;
  border-radius: 2rem;
  padding: 1rem 0.5rem;
  margin: 1rem;
  font-size: 18px;
  color: hsl(0deg, 0%, 100%);
  transition: 1s;
}

.btn:hover {
  background: linear-gradient(hsl(252deg, 100%, 67%), hsl(241deg, 81%, 54%));
}

@media screen and (max-width: 500px) {
  body {
    align-items: flex-start;
    background-color: hsl(0deg, 0%, 100%);
  }
  body .card {
    box-shadow: none;
  }
  body .card-container {
    flex-direction: column;
  }
  body .section1 {
    border-radius: 0 0 2rem 2rem;
    width: 100%;
  }
  body .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  body .circle p {
    font-size: 60px;
  }
  body .info {
    width: 250px;
  }
  body .info h1 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 0.5rem;
  }
  body .info p {
    font-size: 15px;
    padding: 0 0 0.5rem 0;
  }
  body .summary {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */